*{
    margin: 0;
    
}


.Basliq{
    
    background-color: #212529;
    text-align: center;
    padding: 1.3rem 5rem 1.3rem 0;
    text-align: right;
    color: rgba(255, 255, 255, 0.55);
}
.Basliq a{
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.Blue{
    background-color: #0d6efd;
    text-align: center;
    margin: 0 auto;
    padding: 90px 0;
}
.Blue a{
    color: black;
    cursor: pointer;
    padding: 12px 20px; 
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.Blue  p{
    margin: 0 0 16px;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 3px;
    font-weight: 300;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Blue h1{
    padding-bottom: 1px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.White{
    text-align: center;
    padding: 9.5rem 0;
    background-color: #fff;
}
.White h1{
    color: #212529;
    padding-bottom: 10px;
    line-height: 1.2;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.White div{
    text-align: left;
    margin: 0 auto;
    width: 800px;
}
.White div p{
    margin: 0 0 16px;
    font-size: 20px;
    color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.White div ul{
    color: #212529;
    padding-left: 20px;
}
.White div li{
    padding-top: 5px;
    color: #212529;
    font-size: 18px;
}
.Service{
  
    background-color: #F8F9FA;
    padding: 10rem 0;       
}
.Service div{
     width: 700px;
     text-align: start;
     text-align: left;
     margin: 0 auto;
}
.Service h1{
    padding-bottom: 10px;
    color: #212529;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Service p{
    color: #212529;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Contact{
    padding: 10rem 0;
    background-color: #fff; 
}
.Contact div{
    text-align: left;
    margin: 0 auto;
    width: 700px;
    text-align: start;
}
.Contact h1{
    padding-bottom: 10px;
    font-size: 25px;
    color: #212529;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Contact p{
    color: #212529;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Sonluq{
    text-align: center;
    background-color: #212529;
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;   
}